*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  max-width: 1250px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 3rem; }
  header .toggle {
    margin: auto; }
  header .checkbox {
    opacity: 0;
    position: absolute; }
  header .label {
    width: 37px;
    height: 19px;
    background-color: #1a202c;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem;
    position: relative;
    transform: scale(1.5);
    cursor: pointer; }
  header .ball {
    width: 17px;
    height: 17px;
    background-color: #f7fafc;
    position: absolute;
    top: 1px;
    left: 0.09rem;
    border-radius: 50%;
    transition: transform 0.2s linear; }
  header .checkbox:checked + .label .ball {
    transform: translateX(1.15rem); }
  header .label i {
    color: #f7fafc;
    font-size: 0.95rem;
    display: block; }
  header .logout {
    font-size: 2rem;
    cursor: pointer;
    color: #1a202c;
    padding-right: 0.4rem; }

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f7fafc;
  max-width: 100%; }

.main {
  max-width: 1250px;
  margin: auto;
  padding: 20px; }
  .main__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem; }

.hero {
  max-width: 1250px;
  margin: auto;
  padding: 0 20px; }
  .hero h1 {
    text-align: center;
    font-size: 3.5rem;
    margin-top: 4rem;
    color: #1a202c;
    animation: moveInUnder 2s ease-in; }
  .hero p {
    text-align: center;
    font-size: 1.2rem;
    padding: 2rem;
    color: #1a202c;
    animation: moveInUnder 2s ease-in 0.5s; }
  .hero form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 5rem;
    animation: moveInUnder 2s ease-in 0.75s; }
  .hero input {
    margin: 12px 0;
    padding: 15px 10px;
    max-width: 400px;
    width: 100%;
    outline: none;
    color: #1a202c;
    border: 1px solid #56b9ca;
    border-radius: 5px;
    display: inline-block;
    font-size: 0.9rem; }
  .hero button {
    background-color: #56b9ca;
    color: #ffffff;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize; }
    .hero button:hover {
      opacity: 0.9; }
  .hero__image {
    max-width: 900px;
    margin: auto;
    border-radius: 10px; }
    .hero__image img {
      height: 100%;
      width: 100%;
      border-radius: 10px; }

.faq h2 {
  text-align: center;
  font-size: 2rem;
  margin-top: 3rem; }

.notice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 20px 44px;
  background-color: #ffffff;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  margin-top: 5rem; }
  .notice h1 {
    font-size: 2rem;
    font-weight: 500;
    color: #1a202c;
    font-weight: 700; }
  .notice__info {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 1.05rem; }
    .notice__info span {
      font-size: 0.95rem; }
  .notice__total i {
    color: #56b9ca; }
  .notice__upcoming i {
    color: #04aa6d; }
  .notice__expired i {
    color: #ffd744; }

.task {
  border-radius: 5px;
  padding: 20px;
  background-color: #ffffff;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; }
  .task__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem; }
  .task__heading {
    font-size: 1.5rem;
    font-weight: 500;
    color: #1a202c;
    font-weight: 700; }
  .task__icon span {
    height: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0px 0.3rem;
    background-color: #ffffff;
    color: #1a202c;
    border-radius: 50%;
    color: #56b9ca; }
  .task__modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10; }
    .task__modal--content {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #ffffff;
      padding: 30px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      text-align: center;
      z-index: 10;
      max-width: 450px; }
    .task__modal--close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 24px;
      cursor: pointer; }
    .task__modal--input {
      margin: 12px 0;
      padding: 15px 10px;
      width: 100%;
      outline: none;
      color: #1a202c;
      border: 1px solid #bbb;
      border-radius: 5px;
      display: inline-block;
      font-size: 0.9rem; }
    .task__modal--button {
      background-color: #56b9ca;
      color: #ffffff;
      border: none;
      padding: 15px 20px;
      border-radius: 5px;
      cursor: pointer;
      width: 100%;
      font-size: 1rem;
      font-weight: 600;
      text-transform: capitalize; }
      .task__modal--button:hover {
        opacity: 0.9; }
    .task__modal--due {
      border: 1px solid #c3c3c3;
      height: 48px;
      line-height: 36px;
      width: 100%;
      padding: 8px;
      border-radius: 5px;
      color: #1a202c;
      background: #f7fafc;
      margin-bottom: 1rem;
      font-size: 0.9rem;
      outline: none; }
  .task__body {
    padding: 20px;
    max-height: 436px;
    overflow-y: auto; }
  .task__list {
    list-style: none; }
    .task__list li {
      display: flex;
      justify-content: space-between;
      padding: 15px 10px;
      border-radius: 5px;
      margin-bottom: 0.5rem;
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; }
      .task__list li:hover span {
        visibility: visible;
        opacity: 1; }
      .task__list li p {
        display: flex;
        align-items: center;
        font-size: 1rem;
        font-weight: 600; }
        .task__list li p span {
          margin-left: 0.5rem;
          font-size: 0.7rem;
          color: crimson;
          padding-bottom: 0.1rem;
          visibility: hidden;
          cursor: pointer;
          opacity: 0;
          transition: opacity 0.5s; }
      .task__list li span {
        font-size: 0.85rem;
        font-style: italic; }

.calender {
  border-radius: 5px;
  padding: 20px;
  background-color: #ffffff;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; }
  .calender__header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem; }
  .calender__current {
    font-size: 1.5rem;
    font-weight: 500;
    color: #1a202c;
    font-weight: 700; }
  .calender__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem; }
    .calender__icons span {
      height: 1rem;
      font-size: 1.5rem;
      cursor: pointer;
      margin: 0px 0.3rem;
      background-color: #ffffff;
      color: #1a202c;
      border-radius: 50%;
      color: #56b9ca; }
  .calender__weeks {
    margin-bottom: 1rem;
    font-weight: bold; }
  .calender__body {
    padding: 0px 1rem; }
    .calender__body ul {
      display: flex;
      list-style: none;
      flex-wrap: wrap;
      text-align: center;
      font-size: 1.1rem; }
    .calender__body li {
      width: calc(100% / 7);
      height: 3rem;
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #1a202c; }
      .calender__body li:hover {
        font-weight: 500;
        cursor: pointer; }
  .calender__days {
    margin-bottom: 1rem; }
    .calender__days .inactive {
      opacity: 0.5; }
    .calender__days li {
      position: relative; }
      .calender__days li::before {
        position: absolute;
        content: '';
        height: 2.2rem;
        width: 2.2rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        z-index: -1; }
      .calender__days li span {
        position: absolute;
        top: 6px;
        right: 11px;
        font-size: 0.7rem;
        color: #ffffff; }
      .calender__days li .upcoming {
        color: #ffffff;
        font-weight: 600;
        background-color: #04aa6d;
        border-radius: 1rem;
        padding: 2px 5px; }
      .calender__days li .expired {
        color: #ffffff;
        font-weight: 600;
        background-color: #ffd744;
        border-radius: 1rem;
        padding: 2px 5px; }
    .calender__days .active {
      font-weight: 500;
      cursor: pointer;
      color: #ffffff; }
      .calender__days .active::before {
        transition: all 0.2s;
        background-color: #56b9ca; }

.news {
  border-radius: 5px;
  padding: 44px;
  background-color: #ffffff;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  margin-top: 2rem;
  margin-bottom: 6rem; }
  .news h3 {
    font-size: 1.6rem;
    font-weight: 500;
    color: #1a202c;
    font-weight: 700;
    margin-bottom: 2rem; }
  .news__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 38px; }
    .news__list li {
      list-style: none;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;
      padding: 20px 25px;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; }
      .news__list li a {
        text-decoration: none;
        font-size: 1.05rem;
        font-weight: 600;
        color: #1a202c; }
        .news__list li a:hover {
          color: #56b9ca; }
      .news__list li span {
        font-size: 0.96rem;
        font-style: italic;
        color: #2d3748; }

@media screen and (max-width: 1150px) {
  .calender__days li span {
    right: 5px; } }

@media screen and (max-width: 900px) {
  .main__row {
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-top: 2rem; }
  .notice {
    flex-direction: column; }
    .notice h1 {
      margin-bottom: 1.7rem;
      text-align: center; }
    .notice__info {
      font-size: 1rem;
      white-space: nowrap; } }

@media screen and (max-width: 600px) {
  .news__list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); }
    .news__list li a {
      font-size: 1rem; } }

@media screen and (max-width: 450px) {
  .notice {
    flex-direction: column; }
    .notice__info {
      flex-direction: column; }
  .calender {
    padding: 0px 0.5rem; }
    .calender__icons {
      gap: 1rem; }
      .calender__icons span {
        font-size: 1.2rem; }
    .calender ul li {
      height: 2.5rem; }
    .calender ul {
      font-size: 1rem; }
    .calender__days li::before {
      height: 2rem;
      width: 2rem; }
    .calender__weeks, .calender__days {
      margin-bottom: 0.5rem; }
    .calender__current {
      font-size: 1.2rem; } }

.dark-mode {
  background-color: #1a202c; }
  .dark-mode header .label {
    background-color: #2d3748; }
  .dark-mode .notice,
  .dark-mode .task,
  .dark-mode .calender,
  .dark-mode .news {
    background-color: #2d3748; }
  .dark-mode .notice {
    color: #f7fafc; }
    .dark-mode .notice h1,
    .dark-mode .notice span {
      color: #f7fafc; }
  .dark-mode .task__heading {
    color: #f7fafc; }
  .dark-mode .task__icon span {
    background-color: #2d3748; }
  .dark-mode .task__modal--content {
    background-color: #2d3748; }
    .dark-mode .task__modal--content h2 {
      color: #f7fafc; }
  .dark-mode .task__modal--input {
    background-color: #1a202c;
    color: #f7fafc;
    border: none; }
  .dark-mode .task__modal--due {
    color: #2d3748;
    background: #a0aec0;
    border: none; }
  .dark-mode .task__modal--close {
    color: #f7fafc; }
  .dark-mode .task__list {
    color: #f7fafc; }
    .dark-mode .task__list li {
      box-shadow: rgba(255, 255, 255, 0.02) 0px 1px 3px 0px, rgba(255, 255, 255, 0.15) 0px 0px 0px 1px; }
  .dark-mode .calender__current {
    color: #f7fafc; }
  .dark-mode .calender__icons span {
    background-color: #2d3748; }
  .dark-mode .calender__body li {
    color: #f7fafc; }
  .dark-mode .news h3 {
    color: #f7fafc; }
  .dark-mode .news__list li {
    box-shadow: rgba(255, 255, 255, 0.02) 0px 1px 3px 0px, rgba(255, 255, 255, 0.15) 0px 0px 0px 1px; }
    .dark-mode .news__list li a {
      color: #f7fafc; }
      .dark-mode .news__list li a:hover {
        color: #56b9ca; }
    .dark-mode .news__list li span {
      color: #a0aec0; }
  .dark-mode .hero h1 {
    color: #f7fafc; }
  .dark-mode .hero p {
    color: #a0aec0; }
  .dark-mode .hero input {
    background-color: #2d3748;
    color: #f7fafc;
    border: none; }
  .dark-mode .faq h2 {
    color: #f7fafc; }
  .dark-mode .logout {
    color: #f7fafc; }

@keyframes moveInUnder {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
