*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

header {
  max-width: 1250px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 3rem;

  .toggle {
    margin: auto;
  }

  .checkbox {
    opacity: 0;
    position: absolute;
  }

  .label {
    width: 37px;
    height: 19px;
    background-color: $color-dark;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem;
    position: relative;
    transform: scale(1.5);
    cursor: pointer;
  }

  .ball {
    width: 17px;
    height: 17px;
    background-color: $color-light;
    position: absolute;
    top: 1px;
    left: 0.09rem;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }

  .checkbox:checked + .label .ball {
    transform: translateX(1.15rem);
  }

  .label i {
    color: $color-light;
    font-size: 0.95rem;
    display: block;
  }

  .logout {
    font-size: 2rem;
    cursor: pointer;
    color: $color-dark;
    margin-right: 2rem;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: $color-light;
  max-width: 100%;
}

.main {
  max-width: 1250px;
  margin: auto;
  padding: 20px;

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
  }
}

.hero {
  max-width: 1250px;
  margin: auto;
  padding: 0 20px;

  & h1 {
    text-align: center;
    font-size: 3.5rem;
    margin-top: 4rem;
    color: $color-dark;
    animation: moveInUnder 2s ease-in;
  }

  & p {
    text-align: center;
    font-size: 1.2rem;
    padding: 2rem;
    color: $color-dark;
    animation: moveInUnder 2s ease-in 0.5s;
  }

  & form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 5rem;
    animation: moveInUnder 2s ease-in 0.75s;
  }

  & input {
    margin: 12px 0;
    padding: 15px 10px;
    max-width: 400px;
    width: 100%;
    outline: none;
    color: $color-dark;
    border: 1px solid $color-blue;
    border-radius: 5px;
    display: inline-block;
    font-size: 0.9rem;
  }

  & button {
    background-color: $color-blue;
    color: $color-white;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;

    &:hover {
      opacity: 0.9;
    }
  }

  &__image {
    max-width: 900px;
    margin: auto;
    border-radius: 10px;

    & img {
      height: 100%;
      width: 100%;
      border-radius: 10px;
    }
  }
}

.faq {
  & h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: 3rem;
  }
}
