*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: $color-light;
  max-width: 100%;
}

.main {
  max-width: 1250px;
  margin: auto;
  padding: 20px;

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
  }
}
