@media screen and (max-width: 400px) {
  .calender {
    padding: 0px 0.5rem;
    &__icons {
      gap: 1rem;

      & span {
        font-size: 1.2rem;
      }
    }

    & ul li {
      height: 2.5rem;
    }

    & ul {
      font-size: 1rem;
    }
    &__days {
      & li::before {
        height: 2rem;
        width: 2rem;
      }
    }
    &__weeks,
    &__days {
      margin-bottom: 0.5rem;
    }

    &__current {
      font-size: 1.2rem;
    }
  }
}
