$color-light: #f7fafc;
$color-white: #ffffff;
$color-dark: #1a202c;
$color-blue: #56b9ca;
$color-green: #04aa6d;
$color-yellow: #ffd744;
$color-yellow: #ffd744;
$color-gray: #2d3748;
$color-lightGray: #a0aec0;
